@font-face {
    font-family: "JetBrainsMono";
    src: url("../font/SF-Pro-Text-Regular.ttf") format("truetype");
}
:root {
    --docsifytabs-border-color: var(--borderColor);
    --docsifytabs-border-px: 1px;
    --docsifytabs-border-radius-px: 0.5em;
    --docsifytabs-margin: 1.5em 0 1.5em 0.4em;
    --docsifytabs-tab-background: var(--backgroundColor);
    --docsifytabs-tab-background--active: var(--backgroundColor);
    --docsifytabs-tab-color: var(--textColor);
    --docsifytabs-tab-color--active: inherit;
    --docsifytabs-tab-highlight-px: 3px;
    --docsifytabs-tab-highlight-color: var(--themeColor);
    --docsifytabs-tab-padding: 0.6em 1.6em;
    --docsifytabs-content-background: inherit;
    --docsifytabs-content-padding: 1.5rem;
    --code-block-border-radius: 0;
    --code-block-margin: 0;
}
* {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}
body:not(.ready) {
    overflow: hidden;
    background-color: #1b1b1d;
}
.gradient-text {
    background: var(--gradientTextColor);
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.start-button {
    color: var(--themeColor);
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--themeColor);
    border-radius: 5px;
    padding: 0.8em;
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
}
.start-button:hover {
    color: var(--textColor);
    background-color: var(--summaryBackgroundColor);
}
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #00a2ff;
}
.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #00a2ff;
}
.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #00a2ff;
}
@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
.search {
    transition: 0.3s;
    border-bottom: none !important;
    margin-bottom: 20px;
    padding: 6px;
    border-bottom: 1px solid #eee;
}
.search .input-wrap {
    transition: 0.3s;
    margin-top: 20px !important;
    display: flex;
    align-items: center;
}
.search input {
    border: 1px solid var(--borderColor) !important;
    background-color: var(--backgroundColor) !important;
    margin: 0 auto;
    color: var(--textColor);
    width: 90% !important;
    border-radius: 5px;
    text-indent: 1px;
    outline: none;
    border: none;
    width: 100%;
    padding: 0 7px;
    line-height: 36px;
    font-size: 14px;
    border: 1px solid transparent;
}
.search input:hover {
    box-shadow: 0 0 1px 1px var(--themeColor);
    border: 1px solid var(--themeColor);
}
.search input:focus {
    box-shadow: 0 0 1px 2px var(--themeColor);
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search .results-panel {
    display: none;
}
.search .results-panel.show {
    display: block;
}
.search .clear-button {
    cursor: pointer;
    display: none;
}
.search .clear-button.show {
    display: block;
    text-align: center;
    padding: 0 0 0 0.6em;
}
.search .clear-button svg {
    transform: scale(0.8);
}
.search h2 {
    font-size: 17px;
    margin: 10px 0;
}
.search a {
    text-decoration: none;
    color: inherit;
}
.search .matching-post {
    border-bottom: 0.5px solid var(--borderColor);
}
.search .matching-post:hover {
    background-color: var(--hoverBackgroundColor);
}
.search .matching-post:last-child {
    border-bottom: 0;
}
.search p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.search p.empty {
    text-align: center;
}
.search .search-keyword {
    font-style: normal;
    font-weight: 700;
}
body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
    display: none;
}
div#app {
    font-size: 30px;
    font-weight: lighter;
    margin: 40vh auto;
    text-align: center;
}
div#app:empty:before {
    content: "Loading...";
}
.emoji {
    height: 1.2rem;
    vertical-align: middle;
}
.progress {
    background-color: var(--themeColor);
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.2s, opacity 0.4s;
    width: 0;
    z-index: 999999;
}
body,
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    -moz-osx-font-smoothing: grayscale;
    color: var(--textColor);
    font-family: var(--siteFont);
    font-size: var(--bodyFontSize);
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}
a[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}
kbd {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px !important;
    line-height: 12px;
    margin-bottom: 3px;
    padding: 3px 5px;
    vertical-align: middle;
}
li input[type="checkbox"] {
    margin: 0 0.2em 0.25em 0;
    vertical-align: middle;
}
.app-nav {
    margin: 25px 60px 0 0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 10;
}
.app-nav.no-badge {
    margin-right: 25px;
}
.app-nav p {
    margin: 0;
}
.app-nav > a {
    margin: 0 1rem;
    padding: 5px 0;
}
.app-nav li,
.app-nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}
.app-nav a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}
.app-nav a.active,
.app-nav a:hover {
    color: var(--themeColor);
}
.app-nav a.active {
    border-bottom: 2px solid var(--themeColor);
}
.app-nav li {
    display: inline-block;
    margin: 0 1rem;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
}
.app-nav li ul {
    background-color: #fff;
    border: 1px solid;
    border-color: #ddd #ddd #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    max-height: calc(100vh - 61px);
    overflow-y: auto;
    padding: 10px 0;
    position: absolute;
    right: -15px;
    text-align: left;
    top: 100%;
    white-space: nowrap;
}
.app-nav li ul li {
    display: block;
    font-size: 14px;
    line-height: 1rem;
    margin: 8px 14px;
    white-space: nowrap;
}
.app-nav li ul a {
    display: block;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.app-nav li ul a.active {
    border-bottom: 0;
}
.app-nav li:hover ul {
    display: block;
}
.github-corner {
    border-bottom: 0;
    position: fixed;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 1;
}
.github-corner:hover .octo-arm {
    -webkit-animation: octocat-wave 0.56s ease-in-out;
    animation: octocat-wave 0.56s ease-in-out;
}
.github-corner svg {
    color: #fff;
    fill: var(--themeColor);
    height: 70px;
    width: 70px;
}
main {
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 0;
}
main.hidden {
    display: none;
}
.anchor {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}
.anchor span {
    transition: all 0.3s;
    color: var(--titleColor);
    position: relative;
    padding: 0.25em;
    border-radius: 5px;
}
.anchor span img {
    vertical-align: -0.15em;
}
.anchor span:hover {
    transition: all 0.3s;
    background-color: var(--hoverBackgroundColor);
}
.anchor span:hover::before {
    content: "#";
    color: var(--themeColor);
    position: absolute;
    left: 100%;
    height: 100%;
    padding: 0 0 0 0.3em;
    vertical-align: middle;
    transition: all 0.3s;
}
.sidebar {
    color: var(--textColor);
    border-right: 1px solid var(--borderColor);
    font-family: var(--siteFont);
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease-out;
    width: 300px;
    z-index: 20;
}
.sidebar > h1 {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.sidebar > h1 a {
    color: inherit;
    text-decoration: none;
}
.sidebar > h1 .app-nav {
    display: block;
    position: static;
}
.sidebar .sidebar-nav {
    line-height: 2em;
    padding-bottom: 40px;
}
.sidebar li.collapse .app-sub-sidebar {
    display: none;
}
.sidebar ul {
    padding: 0;
}
.sidebar li > p {
    font-weight: 800;
    font-size: 0.8em;
    margin: 0;
    opacity: 0.8;
}
.sidebar ul,
.sidebar ul li {
    padding: 0;
    list-style: none;
}
.sidebar ul li a {
    border-bottom: 0;
    display: block;
}
.sidebar ul li .app-sub-sidebar {
    padding: 0 0 0 0.9em;
}
.sidebar::-webkit-scrollbar {
    width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
}
.sidebar:hover::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: hsla(0, 0%, 53.3%, 0.4);
}
.sidebar:hover::-webkit-scrollbar-track {
    background: hsla(0, 0%, 53.3%, 0.1);
}
.sidebar-toggle {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
    position: absolute;
    left: calc(300px + 1.5rem);
    top: 1.5em;
    text-align: center;
    transition: left 0.2s;
    width: 1.5rem;
    z-index: 30;
    cursor: pointer;
}
.sidebar-toggle .sidebar-toggle-button {
    transition: 0.3s;
}
.sidebar-toggle:hover .sidebar-toggle-button {
    opacity: 0.4;
    transition: 0.3s;
}
.sidebar-toggle span {
    background-color: var(--themeColor);
    display: block;
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
}
body .sidebar-toggle span {
    background-color: var(--themeColor);
    width: 1.5rem;
    position: absolute;
    left: 0;
    margin: 0;
    transform-origin: 0;
    border-radius: 1px;
}
body .sidebar-toggle span:nth-child(1) {
    top: 0;
}
body .sidebar-toggle span:nth-child(2) {
    top: 0.6em;
}
body .sidebar-toggle span:nth-child(3) {
    top: 1.2em;
}
body.sticky .sidebar,
body.sticky .sidebar-toggle {
    position: fixed;
}
.content {
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    transition: left 0.25s ease;
}
.markdown-section {
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 4rem;
    position: relative;
}
.markdown-section > * {
    box-sizing: border-box;
    font-size: inherit;
}
.markdown-section > :first-child {
    margin-top: 0 !important;
}
.markdown-section hr {
    border: 0;
    border-bottom: 1px solid var(--hrColor);
    margin: 2em 0;
}
.markdown-section iframe {
    border: 1px solid #eee;
    width: 1px;
    min-width: 100%;
}
.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin: 1em 0 1em 0.4em;
    overflow: auto;
    width: 100%;
}
.markdown-section table code {
    background-color: transparent;
    font-size: 1em;
    font-weight: 550;
}
.markdown-section th {
    font-weight: 700;
}
.markdown-section td,
.markdown-section th {
    border: 1px solid var(--tableBorderColor);
    padding: 6px 13px;
}
.markdown-section thead tr {
    background-color: var(--tableTheadBackgroundColor);
}
.markdown-section tr {
    transition: all 0.2s ease;
    border-top: 1px solid var(--tableBorderColor);
}
.markdown-section tr:hover {
    background-color: var(--hoverBackgroundColor);
}
.markdown-section p.tip {
    background-color: var(--codeBackgroundColor);
    border-bottom-right-radius: 2px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    padding: 1em;
    position: relative;
    border-radius: 0.5em;
}
.markdown-section p.tip:before {
    background-color: #f66;
    border-radius: 100%;
    color: #fff;
    content: "!";
    font-family: var(--siteFont);
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px;
}
.markdown-section p.tip code {
    background-color: var(--highlightTipBackgroundColor);
}
.markdown-section p.tip em {
    color: #34495e;
}
.markdown-section p.warn {
    background: rgba(66, 185, 131, 0.1);
    padding: 1rem;
    border-radius: 0.5em;
}
.markdown-section p.warn code {
    background-color: var(--highlightWarnBackgroundColor);
}
.markdown-section ul.task-list > li {
    list-style-type: none;
}
body.close .sidebar {
    transform: translateX(-300px);
}
body.close .sidebar-toggle {
    width: auto;
    left: 1.5em;
}
body.close .content {
    left: 0;
}
@media print {
    .app-nav,
    .github-corner,
    .sidebar,
    .sidebar-toggle {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .github-corner,
    .sidebar,
    .sidebar-toggle {
        position: fixed;
    }
    .app-nav {
        margin-top: 16px;
    }
    .app-nav li ul {
        top: 30px;
    }
    main {
        height: auto;
        overflow-x: hidden;
    }
    .sidebar {
        left: -300px;
        transition: transform 0.25s ease-out;
    }
    .markdown-section {
        max-width: 90%;
    }
    .content {
        left: 0;
        max-width: 100vw;
        position: static;
        padding-top: 20px;
        transition: transform 0.25s ease;
    }
    .app-nav,
    .github-corner {
        transition: transform 0.25s ease-out;
    }
    .sidebar-toggle {
        background-color: transparent;
        width: auto;
        padding: 30px 30px 10px 10px;
        left: 1.5em;
        top: 1.5em;
    }
    body.close .sidebar {
        transform: translateX(300px);
    }
    body.close .sidebar-toggle {
        transition: background-color 1s;
        width: 1.5rem;
        padding: 10px;
        left: calc(0.5rem + 300px);
        transition: 0.2s;
    }
    body.close .content {
        transform: translateX(300px);
    }
    body.close .app-nav,
    body.close .github-corner {
        display: none;
    }
    .github-corner:hover .octo-arm {
        -webkit-animation: none;
        animation: none;
    }
    .github-corner .octo-arm {
        -webkit-animation: octocat-wave 0.56s ease-in-out;
        animation: octocat-wave 0.56s ease-in-out;
    }
    #docsify-darklight-theme {
        position: absolute;
        top: 0;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: var(--themeIcon);
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 0.15s ease;
    }
}
@-webkit-keyframes octocat-wave {
    0%,
    to {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@keyframes octocat-wave {
    0%,
    to {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
section.cover {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: none;
}
section.cover.show {
    display: flex;
    background: var(--coverBackground) !important;
}
section.cover.has-mask .mask {
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
section.cover .cover-main {
    flex: 1;
    margin: -20px 16px 0;
    text-align: center;
    z-index: 1;
}
section.cover a {
    color: inherit;
}
section.cover a,
section.cover a:hover {
    text-decoration: none;
}
section.cover p {
    line-height: 1.5rem;
    margin: 1em 0;
}
section.cover h1 {
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.625rem 0 2.5rem;
    position: relative;
    text-align: center;
}
section.cover h1 a {
    display: block;
}
section.cover h1 small {
    bottom: -0.4375rem;
    font-size: 1rem;
    position: absolute;
}
section.cover blockquote {
    font-size: 1.5rem;
    text-align: center;
}
section.cover ul {
    line-height: 1.8;
    list-style-type: none;
    margin: 1em auto;
    max-width: 500px;
    padding: 0;
}
section.cover .cover-main > p:last-child a {
    border-radius: 2rem;
    border: 1px solid var(--themeColor);
    box-sizing: border-box;
    color: var(--themeColor);
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 1rem;
    padding: 0.75em 2rem;
    text-decoration: none;
    transition: all 0.15s ease;
}
section.cover .cover-main > p:last-child a:last-child {
    background-color: var(--themeColor);
    color: #fff;
}
section.cover .cover-main > p:last-child a:last-child:hover {
    color: inherit;
    opacity: 0.8;
}
section.cover .cover-main > p:last-child a:hover {
    color: inherit;
}
section.cover blockquote > p > a {
    border-bottom: 2px solid var(--themeColor);
    transition: color 0.3s;
}
section.cover blockquote > p > a:hover {
    color: var(--themeColor);
}
.sidebar,
body {
    background-color: var(--backgroundColor);
}
.sidebar li {
    margin: 0;
}
.sidebar ul li p {
    margin: 0 0 0 1em;
}
.sidebar ul li a {
    transition: all 0.3s ease;
    margin: 0 0.4em 0 0.4em;
    color: var(--sidebarSublinkColor);
    font-size: 0.9em;
    font-weight: 700;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.2em 0 0.2em 2em;
    border-radius: 5px;
}
.sidebar ul li a:hover {
    font-weight: 600;
    padding: 0.2em 0 0.2em 1.8em;
    color: var(--themeColor);
    background-color: var(--hoverBackgroundColor);
}
.sidebar ul li a:active {
    background-color: transparent;
}
.sidebar ul li.active > a {
    color: var(--themeColor);
    font-weight: 600;
}
.app-sub-sidebar li:before {
    padding-right: 6px;
    float: left;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4 {
    color: var(--textColor);
    font-weight: 600;
}
.markdown-section strong {
    color: var(--textStrongColor);
    font-weight: 550;
}
.markdown-section a {
    color: var(--themeColor);
    text-decoration: none;
    transition: all 0.3s ease;
}
.markdown-section a:hover {
    color: var(--herfColor);
}
.markdown-section {
    padding: 30px 15px 40px;
}
.markdown-section h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
}
.markdown-section h2 {
    font-size: 1.6rem;
    margin: 45px 0 0.8rem;
}
.markdown-section h3 {
    font-size: 1.45rem;
    margin: 20px 0 0.6rem;
}
.markdown-section h4 {
    margin: 20px 0 0.4rem;
    font-size: 1.2rem;
}
.markdown-section h5 {
    margin: 20px 0 0.2rem;
    font-size: 1.1rem;
}
.markdown-section h6 {
    margin: 20px 0 0rem;
    font-size: 1rem;
}
.markdown-section figure,
.markdown-section p {
    margin: 1.2em 0 0 0.4em;
}
.markdown-section .alert .title {
    margin-bottom: 0.3rem;
}
.markdown-section .alert p {
    margin: 0;
}
.markdown-section .alert p code {
    color: var(--textColor);
}
.markdown-section .alert ol {
    margin: 0;
}
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
    line-height: 1.6rem;
    word-spacing: 0.1rem;
}
.markdown-section ol,
.markdown-section ul {
    padding-left: 1.5rem;
}
.markdown-section ol {
    margin-top: 1.5rem;
}
.markdown-section blockquote {
    border-left: 3px solid var(--themeColor);
    color: var(--blockQuoteColor);
    margin: 0 0 0 0.4em;
    padding-left: 12px;
}
.markdown-section blockquote p {
    margin-left: 0;
}
.markdown-section blockquote p a:hover {
    color: var(--herfColor);
}
.markdown-section iframe {
    margin: 1em 0;
}
.markdown-section em {
    color: var(--textColor);
}
.markdown-section code {
    border-radius: 5px;
    color: var(--highlightColor);
    background-color: var(--highlightBackgroundColor);
    margin: 0;
    font-size: 0.9em;
    padding: 2px 4px;
    white-space: pre-wrap;
}
.markdown-section pre {
    background-color: var(--codeBackgroundColor);
    font-family: var(--siteFont);
    border-radius: 0.5em;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    line-height: 1.5rem;
    margin: 1.2em 0 0 0.4em;
    overflow: auto;
    position: relative;
    word-wrap: normal;
}
.markdown-section summary {
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--themeColor);
    border-radius: 5px;
    padding: 0.4em 0.8em;
    margin: 1em 0 0 0.4em;
    background-color: var(--summaryBackgroundColor);
    font-weight: 550;
}
.markdown-section details pre {
    border: 1px solid var(--borderColor);
}
.markdown-section summary:hover {
    border: 1px solid var(--borderColor);
    background-color: var(--codeBackgroundColor);
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #8e908c;
}
.token.namespace {
    opacity: 0.7;
}
.token.boolean,
.token.number {
    color: var(--codeNumberColor);
}
.token.punctuation {
    color: #b564a0;
}
.token.property {
    color: #f07178;
}
.token.tag {
    color: #2973b7;
}
.token.string {
    color: var(--codeStringColor);
}
.token.selector {
    color: #6679cc;
}
.token.attr-name {
    color: #2973b7;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
    color: #22a2c9;
}
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
    color: var(--themeColor);
}
.token.keyword {
    color: var(--codeKeywordColor);
}
.token.function {
    color: var(--codeFunctionColor);
}
.token.atrule,
.token.regex,
.token.statement {
    color: #22a2c9;
}
.token.placeholder,
.token.variable {
    color: #cc51db;
}
.token.deleted {
    text-decoration: line-through;
}
.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}
.token.italic {
    font-style: italic;
}
.token.bold,
.token.important {
    font-weight: 700;
}
.token.important {
    color: #c94922;
}
.token.entity {
    cursor: help;
}
.markdown-section pre > code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    background-color: var(--codeBackgroundColor);
    color: var(--codeTextColor);
    display: block;
    font-family: var(--codeFontFamily);
    font-size: 0.8rem;
    line-height: inherit;
    margin: 0;
    max-width: inherit;
    overflow: inherit;
    padding: 2.2em 2em;
    font-weight: 700;
    white-space: inherit;
}
.markdown-section code:after,
.markdown-section code:before {
    letter-spacing: 0.05rem;
}
code .token {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    min-height: 1.5rem;
    position: relative;
    left: auto;
}
pre:after {
    color: var(--codeTypeColor);
    content: attr(data-lang);
    font-size: 0.6rem;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
#docsify-darklight-theme {
    position: absolute;
    border-radius: 5px;
    padding: 1.1em;
    right: 10px;
    top: 15px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: var(--themeIcon);
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#docsify-darklight-theme:hover {
    transition: all 0.15s ease;
    background-color: var(--hoverBackgroundColor);
}
#docsify-darklight-theme p {
    visibility: hidden;
}
#CHANGELOG {
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: auto;
    font-weight: 550;
    font-size: unset;
    padding: 0.4em;
}
#CHANGELOG:hover {
    transition: all 0.3s ease;
    background: var(--hoverBackgroundColor);
}
#CHANGELOG:active {
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    #CHANGELOG {
        line-height: normal;
        text-decoration: none;
        transition: background 0.3s ease-out 0s;
        border-radius: 5px;
        margin: auto;
        font-size: unset;
        padding: 5px 5px 5px 10px;
        display: none;
    }
}
#CHANGELOG_NOTIFY {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e84444;
    display: inline-block;
    margin-right: 0.2rem;
}
#CHANGELOG_RENDERER {
    display: none;
    position: absolute;
    top: 100%;
    background: var(--backgroundColor);
    box-shadow: 0 4px 24px rgb(88 88 88 / 30%);
    border-radius: 5px;
    margin-top: 20px;
    width: 400px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto;
}
#CHANGELOG_RENDERER.show {
    display: block;
}
#CHANGELOG_RENDERER .CL_content-body {
    height: 100%;
    padding: 0;
    overflow-x: auto;
}
#CHANGELOG_RENDERER .CL_content-body h1 {
    display: block;
    position: relative;
    text-align: left;
    padding: 20px 20px;
    color: var(--textColor);
    background: var(--backgroundColor);
    margin: auto;
}
#CHANGELOG_RENDERER .CL_content-body h3,
#CHANGELOG_RENDERER .CL_content-body li,
#CHANGELOG_RENDERER .CL_content-body p,
#CHANGELOG_RENDERER .CL_content-body ul {
    width: 100%;
    display: block;
    padding: 5px 20px;
    color: var(--textColor);
    background: var(--backgroundColor);
    position: relative;
    text-align: left;
}
#CHANGELOG_RENDERER .CL_content-body h3 {
    font-size: 24px;
    margin: auto;
    font-weight: 500;
}
#CHANGELOG_RENDERER .CL_content-body h3 span:hover {
    background-color: transparent;
    cursor: default;
}
#CHANGELOG_RENDERER .CL_content-body h3 span:hover::before {
    content: "";
}
#CHANGELOG_RENDERER .CL_content-body h4 {
    width: 100%;
    background: #fff;
    position: relative;
    padding: 5px 20px;
    text-align: left;
    margin: auto;
    display: block;
}
#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar {
    width: 10px;
}
#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6d6d6d;
}
#CHANGELOG_RENDERER .CL_content-body h2 {
    margin: auto;
    display: block;
    padding: 10px 20px;
    color: var(--textColor);
    background: var(--backgroundColor);
    position: relative;
    text-align: left;
    font-size: 2rem;
}
#CHANGELOG_RENDERER .CL_content-body li,
#CHANGELOG_RENDERER .CL_content-body ul {
    overflow: hidden;
    width: 100%;
    padding: 5px !important;
}
#CHANGELOG_RENDERER .CL_content-body ul {
    list-style: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    max-height: calc(100vh - 61px);
    padding: 5px 20px;
    position: relative;
    text-align: left;
    white-space: nowrap;
}
#CHANGELOG_RENDERER .CL_content-body li {
    padding-left: 1.3em;
}
#CHANGELOG_RENDERER .CL_content-body li:before {
    content: "\f00c";
    font-family: var(--siteFont);
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
@media screen and (max-width: 768px) {
    .app-nav {
        width: 100% !important;
        margin: auto !important;
    }
    #CHANGELOG_RENDERER {
        left: 0;
        width: 100%;
    }
}
.app-name.hide,
.sidebar-nav.hide {
    display: none;
}
.docsify-pagination-container {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
.pagination-item {
    transition: all 0.2s ease;
    border: 1px solid var(--borderColor);
    border-radius: 0.5em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}
.pagination-item:hover {
    border: 1px solid var(--themeColor);
}
.pagination-item a {
    padding: 1rem 0.8em;
    font-weight: 700;
    display: block;
    height: 100%;
    color: currentColor;
    text-decoration: none;
}
.pagination-item a:hover .pagination-item-label {
    text-decoration: none;
    color: var(--herfColor);
}
.pagination-item:not(:last-child) a .pagination-item-subtitle {
    opacity: 0.6;
}
.pagination-item:not(:last-child) a:hover .pagination-item-title {
    opacity: 1;
}
.pagination-item-label {
    transition: all 0.2s ease;
    font-size: 0.4em;
    color: var(--sidebarSublinkColor);
}
.pagination-item-label > * {
    line-height: 1;
    vertical-align: middle;
}
.pagination-item-label svg {
    height: 0.8em;
    width: auto;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
}
.pagination-item--next {
    grid-column: 2/3;
    text-align: right;
}
.pagination-item--next svg {
    margin-left: 0.5em;
}
.pagination-item--previous .pagination-item-title {
    text-align: left;
}
.pagination-item--previous svg {
    padding-right: 0;
    font-size: 1.8em;
}
.pagination-item-title {
    transition: 0.1s;
    font-size: 1.2em;
    color: var(--themeColor);
}
.pagination-item-subtitle {
    text-transform: uppercase;
    opacity: 0.6;
}
.demo_button,
.demo_code .demo,
.demo_preview,
.demo_resize,
.demo_toggle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@-webkit-keyframes pulse {
    70% {
        -webkit-box-shadow: 0 0 0 4px transparent;
        box-shadow: 0 0 0 4px transparent;
    }
    to {
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }
}
@keyframes pulse {
    70% {
        -webkit-box-shadow: 0 0 0 4px transparent;
        box-shadow: 0 0 0 4px transparent;
    }
    to {
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }
}
.demo_code pre {
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    border-radius: 3px;
    margin: 0;
    max-width: 100%;
}
.demo {
    background: var(--backgroundColor);
    border-top-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    overflow: visible;
    position: relative;
    margin: 1.5em 0 0 0.4em;
}
.demo_preview {
    width: 100%;
    background: var(--backgroundColor);
    border-left: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    max-width: 100%;
    min-height: 5rem;
    padding: 1.5rem 3.25rem 1.5rem 1.5rem;
    position: relative;
}
.demo_preview,
.demo_resize {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.demo_resize {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    border: 1px solid var(--borderColor);
    border-top-right-radius: 0.5em;
    bottom: 0;
    color: var(--textColor);
    cursor: pointer;
    font-size: 10px;
    justify-content: center;
    margin-bottom: -1px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
    width: 1.75rem;
}
.demo_button {
    background: var(--backgroundColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.demo_button svg {
    height: 9px;
}
.demo_toggle {
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    border: 1px solid var(--borderColor);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: var(--themeColor);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2.5rem;
    justify-content: center;
    position: relative;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.demo_resize:active,
.demo_toggle:hover {
    background-color: var(--hoverBackgroundColor);
    color: var(--herfColor);
    z-index: 2;
}
.demo_resize:active,
.demo_toggle:active {
    -webkit-box-shadow: 0 0 0 1px var(--themeColor), 0 0 0 1px var(--themeColor);
    box-shadow: 0 0 0 1px var(--themeColor), 0 0 0 1px var(--themeColor);
}
@media screen and (max-width: 768px) {
    .demo_preview {
        border-right: 1px solid var(--borderColor);
        border-top-right-radius: 3px;
    }
    .demo_resize {
        display: none;
    }
}
.docsify-tabs:before,
.docsify-tabs__tab {
    z-index: 1;
    transition: 0.2s;
}
.docsify-tabs__tab--active,
.docsify-tabs__tab:focus {
    z-index: 2;
}
.docsify-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.docsify-tabs:before {
    -ms-flex-order: 0;
    content: "";
    -ms-flex: 1 1;
    flex: 1 1;
    order: 0;
}
.docsify-tabs__tab {
    -ms-flex-order: -1;
    appearance: none;
    font-size: inherit;
    margin: 0;
    order: -1;
    position: relative;
}
.docsify-tabs__content[class] {
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%;
}
.docsify-tabs__content[class] > :first-child {
    margin-top: 0;
}
.docsify-tabs__content[class] > :last-child {
    margin-bottom: 0;
}
.docsify-tabs__tab--active + .docsify-tabs__content[class] {
    height: auto;
    overflow: auto;
    position: relative;
    visibility: visible;
}
[class*="docsify-tabs--"] {
    margin: 1.5em 0;
    margin: var(--docsifytabs-margin);
}
[class*="docsify-tabs--"] > .docsify-tabs__tab {
    background: #f8f8f8;
    background: var(--docsifytabs-tab-background);
    color: #999;
    color: var(--docsifytabs-tab-color);
    padding: 0.6em 1em;
    padding: var(--docsifytabs-tab-padding);
    cursor: pointer;
}
[class*="docsify-tabs--"] > .docsify-tabs__tab:hover {
    background-color: var(--hoverBackgroundColor);
}
[class*="docsify-tabs--"] > .docsify-tabs__tab--active:hover {
    background-color: var(--backgroundColor);
}
[class*="docsify-tabs--"] > .docsify-tabs__tab--active {
    background: inherit;
    background: var(--docsifytabs-tab-background--active);
    color: inherit;
    color: var(--docsifytabs-tab-color--active);
}
[class*="docsify-tabs--"] > .docsify-tabs__content {
    background: inherit;
    background: var(--docsifytabs-content-background);
}
[class*="docsify-tabs--"] > .docsify-tabs__tab--active + .docsify-tabs__content {
    padding: 1.5rem;
    padding: var(--docsifytabs-content-padding);
}
.docsify-tabs--classic:before,
.docsify-tabs--classic > .docsify-tabs__content,
.docsify-tabs--classic > .docsify-tabs__tab {
    border-color: #ededed;
    border-color: var(--docsifytabs-border-color);
    border-style: solid;
    border-width: 1px;
    border-width: var(--docsifytabs-border-px);
}
.docsify-tabs--classic:before {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    margin-right: 1px;
    margin-right: var(--docsifytabs-border-px);
}
.docsify-tabs--classic > .docsify-tabs__tab:first-of-type {
    border-top-left-radius: var(--docsifytabs-border-radius-px);
}
.docsify-tabs--classic > .docsify-tabs__tab:last-of-type {
    border-top-right-radius: var(--docsifytabs-border-radius-px);
}
.docsify-tabs--classic > .docsify-tabs__tab ~ .docsify-tabs__tab {
    margin-left: -1px;
    margin-left: calc(0px - var(--docsifytabs-border-px));
}
.docsify-tabs--classic > .docsify-tabs__tab--active {
    border-bottom-width: 0;
    box-shadow: inset 0 3px 0 0 currentColor;
    box-shadow: inset 0 var(--docsifytabs-tab-highlight-px) 0 0 var(--docsifytabs-tab-highlight-color);
    cursor: default;
}
.docsify-tabs--classic > .docsify-tabs__content {
    border-radius: 0;
    border-radius: 0 var(--docsifytabs-border-radius-px) var(--docsifytabs-border-radius-px) var(--docsifytabs-border-radius-px);
    border-top: 0;
    margin-top: -1px;
    margin-top: calc(0px - var(--docsifytabs-border-px));
}
.docsify-tabs--material > .docsify-tabs__tab {
    background: transparent;
    border: 0;
    margin-bottom: 2px;
    margin-bottom: calc(var(--docsifytabs-tab-highlight-px) - var(--docsifytabs-border-px));
}
.docsify-tabs--material > .docsify-tabs__tab--active {
    background: transparent;
    box-shadow: 0 3px 0 0 currentColor;
    box-shadow: 0 var(--docsifytabs-tab-highlight-px) 0 0 var(--docsifytabs-tab-highlight-color);
}
.docsify-tabs--material > .docsify-tabs__content {
    border-color: #ededed;
    border-color: var(--docsifytabs-border-color);
    border-style: solid;
    border-width: 1px 0;
    border-width: var(--docsifytabs-border-px) 0;
}
