:root {
    --md-code-font: 'SF Mono';
    --md-footer-bg-color--dark: #1c1e21;
    --md-primary-fg-color--light: hsl(0, 0%, 100%, 0.33);
}
[data-md-color-scheme='slate'] {
    --md-default-bg-color: #1b1b1d;
    --md-code-bg-color: #161618;
}
[data-md-color-scheme='slate'] .md-header {
    background-color: hsla(240, 4%,11%, 0.33);
}
[data-md-color-scheme='slate'] .md-tabs {
    background-color: hsla(240, 4%,11%, 0.33);
    border-bottom: 0.05rem solid #5c5c5c42;
}
@font-face {
    font-family: 'SF Mono';
    src: url('./fonts/SF-Mono-Regular.otf');
}
@keyframes heart {
    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }
    20%,
    60% {
        transform: scale(1.15);
    }
}
.heart {
    animation: heart 1000ms infinite;
}
.md-header {
    backdrop-filter: blur(8px);
}
.md-tabs__link {
    font-size: .8rem !important;
    font-weight: 600 !important;
}
.md-typeset {
    font-size: 16px;
}
