:root {
    --md-text-font: system-ui, -apple-system, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --md-code-font: "SF Mono";
    --md-primary-fg-color--light: hsl(0, 0%, 100%, 0.33);
    --md-default-bg-color--light: #ffffff;
    --md-default-bg-color--dark: hsla(var(--md-hue),15%,14%,1);
}
.md-header {
    background-color: hsla(240, 9%, 75%, 0.33);
    backdrop-filter: blur(8px);
}
[data-md-color-scheme='slate'] .md-header {
    background-color: hsla(240, 4%,11%, 0.33);
}
.md-tabs {
    background-color: hsla(240, 9%, 75%, 0.33);
}
[data-md-color-scheme='slate'] .md-tabs {
    background-color: hsla(240, 4%,11%, 0.33);
}
@font-face {
    font-family: "SF Mono";
    src: url('./fonts/SF-Mono-Regular.otf');
}
@keyframes heart {
    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }
    20%,
    60% {
        transform: scale(1.15);
    }
}
.heart {
    animation: heart 1000ms infinite;
}
.md-tabs__link {
    font-size: .8rem !important;
    font-weight: 600 !important;
}
.md-typeset {
    font-size: 16px;
}
.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
    height: 100%;
    vertical-align: -0.2em !important;
}
.md-typeset .middle {
    vertical-align: -0.35em !important;
}
